<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurser - Webbutveckling miun</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="navigation">
            <ul>
                <li><a href="/">Hem</a></li>
                <li><a href="/insert">Mata in</a></li>
                <li><a href="/about">Om</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="center">
            <h1>Kurser</h1>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="delete">Delete</th>
                    <th>Kurskod</th>
                    <th>Kursnamn</th>
                    <th>Om</th>
                    <th>Prog</th>
                    <th class="update">Update</th>
                </tr>
            </thead>
            <tbody>
                <% courses.forEach(course=> { %>
                    <tr>
                        <td data-label="Delete" class="delete"><a href="/delete?Id=<%= course.courseId %>"
                                onclick="return confirm('Är du säker på att du vill ta bort denna post?');"
                                class="delete">
                                <%= course.courseId %>
                            </a></td>
                        <td data-label="Kurskod">
                            <%= course.courseCode %>
                        </td>
                        <td data-label="Kursnamn">
                            <%= course.courseName %>
                        </td>
                        <td data-label="Om"><a href="<%= course.courseLink %>">Läs mer</a></td>
                        <td data-label="Prog">
                            <%= course.courseProgression %>
                        </td>
                        <td data-label="Update" class="update"><a href="/update?Id=<%= course.courseId %>"
                                onclick="return confirm('Är du säker på att du vill ändra denna post?');">
                                <%= course.courseId %>
                            </a></td>

                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <div id="insertdiv">
            <a href="/insert">Infoga nya kurser!</a>
        </div>
    </main>

</body>

</html>