<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert - Kurser</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="navigation">
            <ul>
                <li><a href="/">Hem</a></li>
                <li><a href="/insert">Mata in</a></li>
                <li><a href="/about">Om</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <div class="center">
            <h1>Ny kurs!</h1>
            <h2>Ange kursinformation!</h2>
        </div>
        <% if(locals.errors.length> 0) { %>
            <ul class="errors">
                <% errors.forEach((error)=> { %>
                    <li>
                        <%= error %>
                    </li>
                    <% }); %>
            </ul>
            <% } %>

                <form method="post">
                    <fieldset>
                        <legend>Ny kurs</legend>
                        <label for="courseCode">Kurskod:</label><br>
                        <input type="text" id="courseCode" name="courseCode" value="<%=courseCode %>">
                        <br>
                        <label for="courseName">Kursnamn:</label><br>
                        <input type="text" id="courseName" name="courseName" value="<%=courseName %>">
                        <br>
                        <label for="courseLink">Kurslänk:</label><br>
                        <input type="url" id="courseLink" name="courseLink" value="<%=courseLink %>">
                        <br>
                        <label for="courseProgression">Progression:</label><br>
                        <input type="text" id="courseProgression" name="courseProgression"
                            value="<%=courseProgression %>">
                        <br>
                        <button type="submit">Lägg till kurs</button>
                    </fieldset>
                </form>

    </main>
</body>

</html>